$secondary : rgb(255, 255, 255);



@import "node_modules/bootstrap/scss/bootstrap.scss";
body{
  background: #ECFBFF;
}
nav {
    border-bottom: 3px solid #04364A;

}

.container-fluid {
  height: 100vh;
}

#create{
  background-color: #176B87;
  border-radius: 40px;
  width: 270px;
  height: 54px;
    font-size: 24px;
    color: white;
    border: none;

}
h2{
  color: #8DC2D4;
}
#login{
  border: solid #04364A 2px;
  width: 270px;
  height: 54px;
  font-size: 24px;
  border-radius: 40px;
  background-color: transparent;

}

#welcome {
  color: #04364A;
  font-size: 40px;

}

.account p {
  color: #04364A;
}

.account input {
  width: 590px;
  height: 40px;
  border: solid #176B87 2px;
  border-radius: 8px;
  background-color: transparent;
}

.left {
  background-color: #DBF2F8;
}

// .col-6{
  
//   height: 100%;
// }

.col-6 img{
  margin-top: 50%;
}

.right{
  margin-top: 50%;
  margin-left: 20%;
}

